╭───────────────────────────────┬──────────────┬──────────╮
│ name                          │ version      │ location │
├───────────────────────────────┼──────────────┼──────────┤
│ PyJWT                         │ 2.8.0        │          │
│ attrs                         │ 23.1.0       │          │
│ PyYAML                        │ 6.0.1        │          │
│ python-magic                  │ 0.4.27       │          │
│ drf-spectacular               │ 0.26.4       │          │
│ referencing                   │ 0.30.2       │          │
│ packaging                     │ 23.1         │          │
│ black                         │ 23.9.1       │          │
│ Django                        │ 4.2.5        │          │
│ uritemplate                   │ 4.1.1        │          │
│ typing_extensions             │ 4.8.0        │          │
│ rpds-py                       │ 0.10.3       │          │
│ asgiref                       │ 3.7.2        │          │
│ djangorestframework           │ 3.14.0       │          │
│ click                         │ 8.1.7        │          │
│ Pillow                        │ 10.0.1       │          │
│ setuptools                    │ 68.2.2       │          │
│ django-cors-headers           │ 4.2.0        │          │
│ jsonschema-specifications     │ 2023.7.1     │          │
│ inflection                    │ 0.5.1        │          │
│ isort                         │ 5.12.0       │          │
│ djangorestframework-simplejwt │ 5.3.0        │          │
│ sqlparse                      │ 0.4.4        │          │
│ platformdirs                  │ 3.10.0       │          │
│ jsonschema                    │ 4.19.1       │          │
│ pytz                          │ 2023.3.post1 │          │
│ pathspec                      │ 0.11.2       │          │
│ mypy-extensions               │ 1.0.0        │          │
│ tomli                         │ 2.0.1        │          │
╰───────────────────────────────┴──────────────┴──────────╯

PDM 2.8.2 is installed